
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@for $i from 0 through 4 {

	.attachment-full-#{$i} {
	  opacity: 0  #{$i}
	}
  }


@keyframes fade-zoom {
	0% {
		transform: scale(0);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}