
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@for $i from 1 through 3 {
	.tuile {
	  
	  &:nth-child(#{$i}) {
		
		animation-delay: $i * (1s / 3);
	  }
	}
  }
  
@keyframes fade-zoom {
	0% {
		transform: scale(0);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes pulsation {
	0% {
	  background: $tuile-bg;
	  transform: scale(1);
	}
	
	25% {
	  background: darken($tuile-bg, 10%);
	  transform: scale(1.035);
	}
	
	50% {
		
	  background: $tuile-bg;
	  transform: scale(1);
	}
  }