.attachment-full {

	//animation: fade-in 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-zoom 3s both;
    
    &.size-full {
        @extend .attachment-full;
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
      }
}